<a href="https://colab.research.google.com/github/BrittaEnte/CourtCounter/blob/master/listen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Liste

##was ist eine liste?

Lists are one of the four built-in data structures in Python, together with tuples, dictionaries, and sets. They are used to store an ordered collection of items, which might be of different types but usually they aren’t

In [ ]:
# These list elements are all of the same type
zoo = ['bear', 'lion', 'panda', 'zebra']
print(zoo)

# But these list elements are not
biggerZoo = ['bear', 'lion', 'panda', 'zebra', ['chimpanzees', 'gorillas', 'orangutans', 'gibbons']]
print(biggerZoo)

##was ist der unterschied zwischen tuples und lists?
tuples können nicht geändert werden, also kein extend, pop, append, remove

##Lists Versus Dictionaries
A list stores an ordered collection of items, so it keeps some order. Dictionaries don’t have any order.

##Lists Versus Sets
Just like dictionaries, sets have no order in their collection of items. Not like lists.
Set requires the items contained in it to be hashable, lists store non-hashable items.
Sets require your items to be unique and immutable. Duplicates are not allowed in sets, while lists allow for duplicates and are mutable.

##hashable
In Python, any immutable object (such as an integer, boolean, string, tuple) is hashable, meaning its value does not change during its lifetime. This allows Python to create a unique hash value to identify it, which can be used by dictionaries to track unique keys and sets to track unique values.

<img src=”<img src=”https://drive.google.com/file/d/1nxHEiGrZpS7gXnXt__qBVCh9N0d2QYD9/view?usp=sharing” width=”100">” width=”100">

## select one element from list
-1 für das letze element etc

In [ ]:
# Select the first list element
oneZooAnimal = biggerZoo[0]

# Print `oneZooAnimal`
print(oneZooAnimal)

##slice notation

In [ ]:
c = [0,1,2,3,4,5,6,7,8,9,10]
print (c[1:5])
print(c[0:])
print(c[:8])
print(c[:])

[1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(c[0::10])
print(c[0:10:2])
print(c[2::1])
print(c[3::5])
print(c[5::-1])

[0, 10]
[0, 2, 4, 6, 8]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 8]
[5, 4, 3, 2, 1, 0]

##convert a list into a string

In [ ]:
# List of Strings to a String
listOfStrings = ['One', 'Two', 'Three']
strOfStrings = ''.join(listOfStrings)
print(strOfStrings)

# List Of Integers to a String
listOfNumbers = [1, 2, 3]
strOfNumbers = ''.join(str(n) for n in listOfNumbers)
print(strOfNumbers)

OneTwoThree
123

convert a list into a tuple of a set

In [ ]:
# Pass your list to `tuple()`
tuple(listOfStrings)

# Transform your list into a set
set(listOfStrings)

{'One', 'Three', 'Two'}

## convert a list into a dictionary

In [ ]:
a = ['bi','double','duo','two']
dict((k,2) for k in a)

{'bi': 2, 'double': 2, 'duo': 2, 'two': 2}

In [ ]:
a = ['bi','double','duo','two']
b = dict(zip(a[::2], a[1::2]))
print (b)

{'bi': 'double', 'duo': 'two'}

## Difference Between append() and extend()?

In [ ]:
my_list = ['foo', 'bar']
another_list = [1, 2, 3]
my_list.extend(another_list)
my_list

['foo', 'bar', 1, 2, 3]

In [ ]:
my_list = ['foo', 'bar']
another_list = [1, 2, 3]
my_list.append(another_list)
my_list

['foo', 'bar', [1, 2, 3]]

##sorted and sort

In [ ]:
liste =[9,5,8,4]
print(sorted(liste))
print (liste)

[4, 5, 8, 9]
[9, 5, 8, 4]

In [ ]:
liste = [9,5,8,4]
print(liste.sort())
print (liste)

None
[4, 5, 8, 9]

##how to copy a list

In [ ]:
ente = [1,2,3,4,5]
hund = list(ente)

TypeError: ignored

In [ ]:
b = [1,2,3,4,5]
newList = b[:]
print (newList)

[1, 2, 3, 4, 5]

## count() method

In [ ]:
# Count the occurrences of the number 4
print([1, 2, 9, 4, 5, 4, 1].count(4))

# Count the occurrences of the letter "a"
list = ["d", "a", "t", "a", "c", "a", "m", "p"]
list.count("a")

2

3

In [ ]:
list= ["a","b","b"]
[[x,list.count(x)] for x in set(list)]

[['b', 2], ['a', 1]]

##what is a iter
The iter() function returns an iterator object.

In [ ]:
x = iter(["apple", "banana", "cherry"])
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

##How To Split A Python List Into Evenly Sized Chunks

In [ ]:
# Your list `x`
x = [1,2,3,4,5,6,7,8,9]

# Split `x` up in chunks of 3
y = zip(*[iter(x)]*3)

# Use `list()` to print the result of `zip()`
list(y)

TypeError: ignored